body
{
	text-align: center;
	font-family: 'arial';
	color: purple;

}

div
{
	background-color: pink;
	text-align: left;
}

img
{
	width: 100;
}

ul
{
	color: black;
	text-align: left;
	color: red;
}

h1
{
	color:blue;
	text-align: center;
	font-family: "sans-serif";
}
.li-list-1{
	color:tomato;
	font-weight: 100;
}
.li-list-2{
	color:tomato;
	font-weight: 200;
}
.li-list-3{
	color:tomato;
	font-weight: 300;
}
.li-list-4{
	color:tomato;
	font-weight: 400;
}
.li-list-5{
	color:tomato;
	font-weight: 500;
}